.card {
  border: none;
  position: relative;
}

a.tshirt {
  text-decoration: none;
  position: relative;
}

.tshirtImg {
  width: 100%;
  height: 240px;
  display: block;
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14362/t-shirt.png");
  background-size: cover;
}

.card1:hover .img1,
.card5:hover .img5,
.card9:hover .img9,
.card13:hover .img13 {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14372/bastian-ignacio-vega-cani-9UAfLTqMoS0-unsplash__2_.png");
  background-size: cover;
}

.card2:hover .img2,
.card6:hover .img6,
.card10:hover .img10,
.card14:hover .img14 {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14365/anomaly-WWesmHEgXDs-unsplash.jpg");
  background-size: cover;
}

.card3:hover .img3,
.card7:hover .img7,
.card11:hover .img11 {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14374/faith-yarn-hgtWvsq5e2c-unsplash.png");
  background-size: cover;
}

.card4:hover .img4,
.card8:hover .img8,
.card12:hover .img12 {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14373/christian-bolt-VW5VjskNXZ8-unsplash.png");
  background-size: cover;
}

.tshirtText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.tshirtName,
.tshirtPrice {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;

  color: black;
}

.tshirtPrice {
  font-weight: 700;
}


.addToFavorite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
}

.tshirtIcon {
  font-size: 1rem;
  margin: 9px 7.5px;
}

.soldOut {
  font-weight: 400;
}