.progressControlContainer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.buttonGroup {
  padding-top: 24px;
  border-top: 1px solid #E6E6EB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .button {
    display: flex;
    align-items: center;
    height: 46px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    padding: 0px;
    .arrow{
      width: 24px;
      height: 24px;
      margin-left: 12px;
    }
    &.btnNext {
      justify-content: center;
      width: 174px;
      font-weight: 500;
      line-height: 17px;
      background: var(--pink);
      color: #FFFFFF;
    }
    &.btnPrev {
      background-color: transparent;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
      flex-direction: row-reverse;
      .arrow {
        margin-right: 12px;
        margin-left: 0px;
      }
    }
  }
  &[data-phase="address"] .button{
    margin-left: auto;
  }
}

// for static
// .buttonGroup[data-phase="address"] .button,  .buttonGroup[data-phase="address"]{
//   display: none;
// }

.buttonGroup[data-phase="shipping"] .button,  .buttonGroup[data-phase="shipping"]{
  display: none;
}

.buttonGroup[data-phase="credit-card"] .button,  .buttonGroup[data-phase="credit-card"]{
  display: none;
}