.formContainer {
  margin: 64px auto 0 auto;
}

.formTitle {
  font-size: 24px;
}

.formBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formRow {
  justify-content: space-between;
}

.inputLabel {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: var(--input-label);
  margin-bottom: 8px;
}

.inputGroup {
  margin-top: 24px;
}

//input & select
.input {
  width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;

  //inputText
  .inputText {
    color: var(--input-text);
  }
}

//select
.selectContainer {
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: -2;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: var(--select-arrow) transparent transparent transparent;
    content: "";
  }
}

.select {
  color: var(--select-true);
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;

  .option {
    color: var(--select-true);
  }
}