.title {
  padding-top: 100px;
  height: 20%;
}

.titleText {
  font-size: 2rem;
  text-align: center;
}

.pagination {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  font-size: 0.8rem;
  color: #2b2b2b;
}