.main {
  display: flex;
  justify-content: space-between;
  margin: 48px 60px;
  height: 600px;
  position: relative;
}

.registerTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--main-text);
  text-align: start;
  padding-top: 1rem;
}